<template>
<div class="overflow-hidden">
    <Header></Header>
    <!-- Back to top -->
    <!-- <button @click="handlerBackToTop" type="button" data-mdb-ripple="true" data-mdb-ripple-color="light" class="inline-block fixed p-3 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out bottom-5 right-5" id="btn-back-to-top">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-4 h-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor" d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"></path>
        </svg>
    </button> -->
    <!-- Back to top -->

    <!-- slide -->
    <div class="container mx-auto mt-6 px-4">
        <div class="grid grid-cols-3 ">
            <div class="col-span-2">
                <vueper-slides class="rounded shadow-lg" fixed-height="25rem" :dragging-distance="50">
                    <template #arrow-left>
                        <i class="fa-solid fa-angle-left text-3xl text-center hover:text-5xl hover:bg-[#000000] hover:opacity-[0.5] p-3"></i>
                    </template>

                    <template #arrow-right>
                        <i class="fa-solid fa-angle-right text-3xl text-center hover:text-5xl hover:bg-[#000000] hover:opacity-[0.5] p-3"></i>
                    </template>
                    <vueper-slide v-for="(slide, i) in slides" :key="i" :image="slide.image" :title="slide.title" :content="slide.content" :link="slide.link" />
                </vueper-slides>

            </div>
            <div class="ml-4">
                <div class="flex rounded shadow-lg items-center mb-4  w-full h-[12rem] overflow-hidden">
                    <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="block object-cover h-96 w-full" alt="Wild Landscape" />
                </div>
                <div class="flex rounded shadow-lg items-center  w-full h-[12rem]  overflow-hidden">
                    <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="block object-cover h-96 w-full" alt="Wild Landscape" />
                </div>
            </div>
        </div>
    </div>
    <!-- slide -->
    <div class="bg-[#f5f5f5] container mx-auto my-10">
        <!-- Danh muc -->
        <div class="p-5 bg-white">
            <h3 class="opacity-75">DANH MỤC</h3>
            <div class="grid grid-cols-10 mt-5">
                <div v-for="(item, index) in cateGory.content" class="flex items-center justify-center flex-col border hover:border-gray-300 divide-slate-200 p-5 ">
                    <router-link :to="`/categotyId?id=${item.id}`">
                    <div class="flex rounded-full items-center mb-4 h-[4rem] w-[4rem] overflow-hidden border ">
                        <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="block object-cover h-96 w-full" alt="Wild Landscape" />
                    </div>
                    <p class="text-sm">{{item.name}}</p>
                    </router-link>
                </div>
            </div>
        </div>
        <!-- Danh muc -->

        <!-- Flash sale-->
        <div class=" w-full my-10 p-0">
            <div class="flex items-center overflow-hidden">
                <img :src="require('../assets/banner.png')" class="block object-fit h-full w-full" alt="Wild Landscape" />
            </div>
        </div>
        <!-- Flash sale-->

        <!-- slide2 -->
        <div class="container mx-auto w-screen mb-10 bg-white">
            <div class="flex items-center w-[8rem] overflow-hidden">
                <img class="w-full h-full object-cover" :src="require('../assets/flash-sale-stamp-png.png')" />
            </div>
            <vueper-slides autoplay class="no-shadow discount" :bullets="false" :visible-slides="6" slide-multiple :gap="3" :slide-ratio="1 / 4" :dragging-distance="200" :breakpoints="{ 800: { visibleSlides: 2, slideMultiple: 2 } }">
                <template #arrow-left>
                    <i class="fa-solid fa-circle-arrow-left text-3xl hover:text-5xl ml-[4rem]"></i>
                </template>
                <template #arrow-right>
                    <i class="fa-solid fa-circle-arrow-right text-3xl  hover:text-5xl mr-[4rem]"></i>
                </template>
                <vueper-slide v-for="(slide, i) in slides" :key="i" :image="slide.image" :title="slide.title" :content="slide.content" :link="slide.link" />
            </vueper-slides>
        </div>
        <!-- slide2 -->

        <!-- Banner2 -->
        <div class="container mx-auto p-0 bg-white">
            <div class="flex items-center w-full overflow-hidden">
                <img :src="require('../assets/banner1.png')" class="block object-fit h-full w-full" alt="Wild Landscape" />
            </div>
        </div>
        <!-- Banner2 -->
    </div>
    <div class="bg-[#f5f5f5] container mx-auto p-5">
        <div class="flex justify-between items-center">
            <div class="flex text-sm">
                <p class="ml-3 border-[#94a3b8] border-r pr-2 text-[#38bdf8]">TIKI MALL</p>
                <p class="ml-3 "><i class="fa-solid fa-chevron-left mr-2"></i>7 Ngày Miễn Phí Trả Hàng</p>
                <p class="ml-3 "><i class="fa-solid fa-truck-fast mr-2"></i>Hàng Chính Hãng 100%</p>
                <p class="ml-3 "><i class="fa-solid fa-circle-check mr-2"></i>Miễn Phí Vận Chuyển</p>
            </div>
            <div class="flex items-center text-[#38bdf8]">
                <p class="text-sm mr-2">Xem Tất Cả</p><i class="fa-solid fa-circle-arrow-right"></i>
            </div>
        </div>
        <div class="flex mt-4">
            <div class="w-[64rem]">
                <vueper-slides :bullets="false" :arrows="false" fixed-height="100%" :dragging-distance="50" autoplay>
                    <vueper-slide v-for="(slide, i) in slides" :key="i" :image="slide.image" :title="slide.title" :content="slide.content" :link="slide.link" />
                </vueper-slides>
            </div>
            <div class="grid grid-cols-4 grid-rows-2 w-full">
                <div>
                    <div class="flex items-center w-full overflow-hidden">
                        <img class="w-full h-full " src="https://cf.shopee.vn/file/650ef751872c9a16a26a072e3c24289a_xhdpi" />
                    </div>
                    <p class="text-[#d0011b] text-sm text-center">Mua 1 được 5</p>
                </div>
                <div>
                    <div class="flex items-center w-full overflow-hidden">
                        <img class="w-full h-full " src="https://cf.shopee.vn/file/650ef751872c9a16a26a072e3c24289a_xhdpi" />
                    </div>
                    <p class="text-[#d0011b] text-sm text-center">Mua 1 được 5</p>
                </div>
                <div>
                    <div class="flex items-center w-full overflow-hidden">
                        <img class="w-full h-full " src="https://cf.shopee.vn/file/650ef751872c9a16a26a072e3c24289a_xhdpi" />
                    </div>
                    <p class="text-[#d0011b] text-sm text-center">Mua 1 được 5</p>
                </div>
                <div>
                    <div class="flex items-center w-full overflow-hidden">
                        <img class="w-full h-full " src="https://cf.shopee.vn/file/650ef751872c9a16a26a072e3c24289a_xhdpi" />
                    </div>
                    <p class="text-[#d0011b] text-sm text-center">Mua 1 được 5</p>
                </div>
                <div>
                    <div class="flex items-center w-full overflow-hidden">
                        <img class="w-full h-full " src="https://cf.shopee.vn/file/650ef751872c9a16a26a072e3c24289a_xhdpi" />
                    </div>
                    <p class="text-[#d0011b] text-sm text-center">Mua 1 được 5</p>
                </div>
                <div>
                    <div class="flex items-center w-full overflow-hidden">
                        <img class="w-full h-full " src="https://cf.shopee.vn/file/650ef751872c9a16a26a072e3c24289a_xhdpi" />
                    </div>
                    <p class="text-[#d0011b] text-sm text-center">Mua 1 được 5</p>
                </div>
                <div>
                    <div class="flex items-center w-full overflow-hidden">
                        <img class="w-full h-full " src="https://cf.shopee.vn/file/650ef751872c9a16a26a072e3c24289a_xhdpi" />
                    </div>
                    <p class="text-[#d0011b] text-sm text-center">Mua 1 được 5</p>
                </div>
                <div>
                    <div class="flex items-center w-full overflow-hidden">
                        <img class="w-full h-full " src="https://cf.shopee.vn/file/650ef751872c9a16a26a072e3c24289a_xhdpi" />
                    </div>
                    <p class="text-[#d0011b] text-sm text-center">Mua 1 được 5</p>
                </div>

            </div>
        </div>
    </div>
    <div class="bg-[#f5f5f5] container mx-auto p-0 py-5 mt-10">
        <div>
            <span class="border-b-4  border-[#38bdf8] py-5 px-[2.6rem] inline-block text-[#38bdf8]">GỢI Ý HÔM NAY</span>
        </div>
        <div class="grid grid-cols-6">
            <div class="flex items-center flex-col">
                <div class="flex items-center w-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="https://cf.shopee.vn/file/650ef751872c9a16a26a072e3c24289a_xhdpi" />
                </div>
                <div class="w-full h-[2rem] px-2">
                    <p class="text-ellipsis font-light truncate h-full inline-block text-sm">Áo trễ vai tay phồng form rộng chun ngực chun tay, áo kiểu nữ bánh bèo điệu đà</p>
                </div>

            </div>
            <div class="flex items-center flex-col">
                <div class="flex items-center w-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="https://cf.shopee.vn/file/650ef751872c9a16a26a072e3c24289a_xhdpi" />
                </div>
                <div class="w-full h-[2rem] px-2">
                    <p class="text-ellipsis font-light truncate h-full inline-block text-sm">Áo trễ vai tay phồng form rộng chun ngực chun tay, áo kiểu nữ bánh bèo điệu đà</p>
                </div>

            </div>
            <div class="flex items-center flex-col">
                <div class="flex items-center w-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="https://cf.shopee.vn/file/650ef751872c9a16a26a072e3c24289a_xhdpi" />
                </div>
                <div class="w-full h-[2rem] px-2">
                    <p class="text-ellipsis font-light truncate h-full inline-block text-sm">Áo trễ vai tay phồng form rộng chun ngực chun tay, áo kiểu nữ bánh bèo điệu đà</p>
                </div>

            </div>
            <div class="flex items-center flex-col">
                <div class="flex items-center w-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="https://cf.shopee.vn/file/650ef751872c9a16a26a072e3c24289a_xhdpi" />
                </div>
                <div class="w-full h-[2rem] px-2">
                    <p class="text-ellipsis font-light truncate h-full inline-block text-sm">Áo trễ vai tay phồng form rộng chun ngực chun tay, áo kiểu nữ bánh bèo điệu đà</p>
                </div>

            </div>
            <div class="flex items-center flex-col">
                <div class="flex items-center w-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="https://cf.shopee.vn/file/650ef751872c9a16a26a072e3c24289a_xhdpi" />
                </div>
                <div class="w-full h-[2rem] px-2">
                    <p class="text-ellipsis font-light truncate h-full inline-block text-sm">Áo trễ vai tay phồng form rộng chun ngực chun tay, áo kiểu nữ bánh bèo điệu đà</p>
                </div>

            </div>
            <div class="flex items-center flex-col">
                <div class="flex items-center w-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="https://cf.shopee.vn/file/650ef751872c9a16a26a072e3c24289a_xhdpi" />
                </div>
                <div class="w-full h-[2rem] px-2">
                    <p class="text-ellipsis font-light truncate h-full inline-block text-sm">Áo trễ vai tay phồng form rộng chun ngực chun tay, áo kiểu nữ bánh bèo điệu đà</p>
                </div>

            </div>

        </div>
    </div>
</div>
</template>

<script>
import {
    homeServices
} from '@/services/homeServices';
import 'flowbite';
import 'tw-elements';
import {
    VueperSlides,
    VueperSlide
} from 'vueperslides'
import 'vueperslides/dist/vueperslides.css'
import Header from "../components/Header.vue";
import {
    mapState,
    mapGetters,
    mapMutations,
    mapActions
} from 'vuex'

let mybutton = document.getElementById("btn-back-to-top");
export default {
    name: "Home",
    data() {
        return {
            slides: [{
                    // title: 'El Teide Volcano, Spain',
                    // content: 'Photo by Max Rive',
                    // You can also provide a URL for the image.
                    image: 'https://cf.shopee.vn/file/8da7a277ab0b311b9152070ac7e2c217_xxhdpi',
                    // link: 'https://www.maxrivephotography.com/index/C0000rU1RKCHdqwI/G0000X57AtIzuRX0/I0000Gvr9HqdtyXk'
                },
                {
                    // title: 'El Teide Volcano, Spain',
                    // // content: 'Photo by Max Rive',
                    // You can also provide a URL for the image.
                    image: 'https://cf.shopee.vn/file/8da7a277ab0b311b9152070ac7e2c217_xxhdpi',
                    // link: 'https://www.maxrivephotography.com/index/C0000rU1RKCHdqwI/G0000X57AtIzuRX0/I0000Gvr9HqdtyXk'
                },
                {
                    // title: 'El Teide Volcano, Spain',
                    // // content: 'Photo by Max Rive',
                    // You can also provide a URL for the image.
                    image: 'https://cf.shopee.vn/file/f03edd2b7ccd2563c98f0e8e8eb2988d_xxhdpi',
                    // link: 'https://www.maxrivephotography.com/index/C0000rU1RKCHdqwI/G0000X57AtIzuRX0/I0000Gvr9HqdtyXk'
                },
                {
                    // title: 'El Teide Volcano, Spain',
                    // // content: 'Photo by Max Rive',
                    // You can also provide a URL for the image.
                    image: 'https://cf.shopee.vn/file/8da7a277ab0b311b9152070ac7e2c217_xxhdpi',
                    // link: 'https://www.maxrivephotography.com/index/C0000rU1RKCHdqwI/G0000X57AtIzuRX0/I0000Gvr9HqdtyXk'
                },
                {
                    // title: 'El Teide Volcano, Spain',
                    // // content: 'Photo by Max Rive',
                    // You can also provide a URL for the image.
                    image: 'https://cf.shopee.vn/file/8da7a277ab0b311b9152070ac7e2c217_xxhdpi',
                    // link: 'https://www.maxrivephotography.com/index/C0000rU1RKCHdqwI/G0000X57AtIzuRX0/I0000Gvr9HqdtyXk'
                },
                {
                    // title: 'El Teide Volcano, Spain',
                    // // content: 'Photo by Max Rive',
                    // You can also provide a URL for the image.
                    image: 'https://cf.shopee.vn/file/8da7a277ab0b311b9152070ac7e2c217_xxhdpi',
                    // link: 'https://www.maxrivephotography.com/index/C0000rU1RKCHdqwI/G0000X57AtIzuRX0/I0000Gvr9HqdtyXk'
                },
                {
                    // title: 'El Teide Volcano, Spain',
                    // // content: 'Photo by Max Rive',
                    // You can also provide a URL for the image.
                    image: 'https://cf.shopee.vn/file/8da7a277ab0b311b9152070ac7e2c217_xxhdpi',
                    // link: 'https://www.maxrivephotography.com/index/C0000rU1RKCHdqwI/G0000X57AtIzuRX0/I0000Gvr9HqdtyXk'
                },
                {
                    // title: 'El Teide Volcano, Spain',
                    // // content: 'Photo by Max Rive',
                    // You can also provide a URL for the image.
                    image: 'https://cf.shopee.vn/file/8da7a277ab0b311b9152070ac7e2c217_xxhdpi',
                    // link: 'https://www.maxrivephotography.com/index/C0000rU1RKCHdqwI/G0000X57AtIzuRX0/I0000Gvr9HqdtyXk'
                },
                {
                    // title: 'El Teide Volcano, Spain',
                    // // content: 'Photo by Max Rive',
                    // You can also provide a URL for the image.
                    image: 'https://cf.shopee.vn/file/8da7a277ab0b311b9152070ac7e2c217_xxhdpi',
                    // link: 'https://www.maxrivephotography.com/index/C0000rU1RKCHdqwI/G0000X57AtIzuRX0/I0000Gvr9HqdtyXk'
                },
                // Other slides.
            ],
            checkLogin: localStorage.getItem('token'),
            cateGory: []
        }
    },
    methods: {
        handlerBackToTop() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        },
        async getCategory() {
            try {
                const reps = await homeServices.getCategory()
                this.cateGory = reps.data
                console.log(reps)
            } catch (e) {
                console.log(e)
            }
        },
    },
    components: {
        Header,
        VueperSlides,
        VueperSlide
    },
    mounted() {
        this.getCategory()
    },
    computed: {

    }
}
</script>

<style scoped>
.discount .vueperslide:before {
    content: 'Giảm giá 15%';
    position: absolute;
    top: -18px;
    right: -18px;
    padding: 4px 25px;
    background: orange;
    color: #fff;
    font-size: 11px;
    transform: translateX(30%) rotate(45deg);
    transform-origin: 0 0;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}

.ex--center-mode {
    width: 600px;
    max-width: 100%;
    margin: auto;
}

.vueperslides__bullet--active .default {
    background-color: #38bdf8;
}

.text-ellipsis {
    height: 2rem;
    width: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}
</style>
