<template>
<div>
    <header class="bg-[#38bdf8]">
        <nav class="border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
            <div class="container mx-auto flex flex-wrap justify-between items-center ">
                <div class="flex items-end">
                    <div class="flex items-center w-20 overflow-hidden">
                        <router-link to="/">
                            <img class="w-full h-full object-cover" :src="require('../assets/Logo_Tiki.png')" />
                        </router-link>
                    </div>
                    <p class="text-4xl ml-2 text-white">Đăng nhập</p>
                </div>
                <router-link to="/Portal">
                    <a href="#" class="text-white">Bạn cần giúp đỡ?</a>
                </router-link>
            </div>
        </nav>
    </header>
    <div class="my-20  flex justify-center items-center">
        <div>
            <div class="flex items-center w-[26rem]">
                <img class="w-full h-full object-cover" :src="require('../assets/login.png')" />
            </div>
        </div>
        <div class="w-[24rem] ml-[10rem] bg-gray-100 float-right">
            <div class="flex flex-col overflow-hidden bg-white rounded-md shadow-lg max md:flex-row md:flex-1 ">
                <div class="p-5 bg-white md:flex-1">
                    <h3 class="my-4 text-2xl font-semibold text-gray-700">Đăng nhập</h3>
                    <form @submit.prevent="handlerLogin" class="flex flex-col space-y-5">
                        <div class="flex flex-col space-y-1">
                            <input placeholder="Email" v-model="email" type="email" id="email" autofocus class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200" />
                        </div>
                        <div class="flex flex-col space-y-1">
                            <input v-model="password" placeholder="Mật khẩu" type="password" id="password" class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200" />
                        </div>
                        <div class="flex  items-center">
                            <input v-model="remeber" id="remeber-user" type="checkbox">
                            <label class="ml-2" for="remeber-user ">Nhớ đăng nhập</label>
                        </div>
                        <div>
                            <button v-if="loading" type="submit" class="w-full px-4 py-2 text-lg font-semibold text-white transition-colors duration-300 bg-blue-500 rounded-md shadow hover:bg-blue-600 focus:outline-none focus:ring-blue-200 focus:ring-4">
                                Đăng nhập
                            </button>
                            <button v-else disabled type="button" class="text-white px-4 py-2 text-lg w-full bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg  text-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
                                <svg role="status" class="inline w-4 h-4 mr-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB" />
                                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor" />
                                </svg>
                                Loading...
                            </button>
                            <router-link to="reset">
                                <a href="#" class="text-sm text-blue-400">Quên mật khẩu</a>
                            </router-link>
                        </div>
                        <div class="flex flex-col space-y-5">
                            <span class="flex items-center justify-center space-x-2">
                                <span class="h-px bg-gray-400 w-full"></span>
                                <span class="font-normal text-gray-500">Hoặc</span>
                                <span class="h-px bg-gray-400 w-full"></span>
                            </span>
                            <div class="flex flex-col space-y-4">
                                <button type="button" class="w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg px-4 py-3 border border-gray-300">
                                    <div class="flex items-center justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-6 h-6" viewBox="0 0 48 48">
                                            <defs>
                                                <path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z" />
                                            </defs>
                                            <clipPath id="b">
                                                <use xlink:href="#a" overflow="visible" />
                                            </clipPath>
                                            <path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z" />
                                            <path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z" />
                                            <path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z" />
                                            <path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z" />
                                        </svg>
                                        <span class="ml-4">
                                            Google</span>
                                    </div>
                                </button>
                            </div>
                            <div class="flex justify-center items-center">
                                <p class="text-center opacity-50 mr-2">Bạn mới biết đến Tiki?</p>
                                <router-link to="/signup">
                                    <p class="text-blue-600 underline-offset-1 cursor-pointer">Đăng ký</p>
                                </router-link>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</template>

<script>
import {
    loginServices
} from '@/services/loginServices'
import {
    mapState,
    mapGetters,
    mapMutations,
    mapActions
} from 'vuex'
// var chatbox = document.getElementById('fb-customer-chat');
// chatbox.setAttribute("page_id", "111589551567594");
// chatbox.setAttribute("attribution", "biz_inbox");
// window.fbAsyncInit = function () {
//     FB.init({
//         xfbml: true,
//         version: 'v14.0'
//     });
// };

// (function (d, s, id) {
//     var js, fjs = d.getElementsByTagName(s)[0];
//     if (d.getElementById(id)) return;
//     js = d.createElement(s);
//     js.id = id;
//     js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
//     fjs.parentNode.insertBefore(js, fjs);
// }(document, 'script', 'facebook-jssdk'));

export default {
    name: 'Login',
    data() {
        return {
            email: '',
            password: '',
            email2: '',
            password2: '',
            password3: '',
            name: '',
            loading: true,
            remeber: false
        }
    },
    methods: {
        ...mapMutations('user',['setUser']),
        async handlerLogin() {
            this.loading = false
            try {
                const reps = await loginServices.getSignIn({
                    email: this.email,
                    password: this.password
                })
                if (reps.data.isActive === 0) {
                    this.$toast.warning("Chưa xác thực tài khoản", {
                        position: "top-center",
                        timeout: 3000,
                        closeOnClick: true,
                        pauseOnFocusLoss: true,
                        pauseOnHover: true,
                        draggable: true,
                        draggablePercent: 0.6,
                        showCloseButtonOnHover: false,
                        hideProgressBar: true,
                        closeButton: "button",
                        icon: true,
                        rtl: false
                    });
                    this.loading = true
                    return;
                } else {
                    console.log('reps',reps.data.id)
                    sessionStorage.setItem('id', reps.data.id)
                    sessionStorage.setItem('token', reps.data.token)
                    if (this.remeber) {
                        localStorage.setItem('token', reps.data.token)
                        localStorage.setItem('id', reps.data)
                    }
                    this.loading = true
                    this.setUser(reps.data)
                    setTimeout(() => {
                        this.$router.push('/')
                    }, 500)
                    return
                }
            } catch (e) {
                this.$toast.error("Đăng nhập thất bại", {
                    position: "top-center",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: true,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false
                });
                this.loading = true
                console.log(e)
            }
        },
        handlerShow() {
            this.show = !this.show
        }
    },

}
</script>

<style>

</style>
