<template>
<div>
    <header class="bg-[#38bdf8] ">
        <nav class="border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
            <div class="container mx-auto flex flex-wrap justify-between items-center ">
                <div class="flex items-end">
                    <router-link to="/">
                        <div class="flex items-center w-20 border-[#94a3b8] border-r pr-2 overflow-hidden">
                            <router-link to="/">
                                <img class="w-full h-full object-cover" :src="require('../assets/Logo_Tiki.png')" />
                            </router-link>
                        </div>
                    </router-link>
                    <p class="text-4xl ml-2 text-white">Trung tâm hỗ trợ Tiki VN</p>
                </div>
            </div>
        </nav>
    </header>
    <div class="w-full p-10">
        <h5 class="text-center text-xl font-semibold">Xin chào, Tiki có thể giúp gì cho bạn?</h5>
    </div>
    <div class="container mx-auto my-10">
        <div class=" bg-gradient-to-br from-pink-50 to-indigo-100 grid place-items-center">
            <div class="w-full mx-auto  rounded border">
                <div class="bg-white p-10 shadow-sm">
                    <h3 class="text-lg font-medium text-gray-800">Các câu hỏi thường gặp</h3>
                    <p class="text-sm font-light text-gray-600 my-3">
                        The accordion is a graphical control element comprising a vertically stacked list of items such as labels or thumbnails
                    </p>

                    <div class="h-1 w-full mx-auto border-b my-5"></div>

                    <!-- Accordion Wrapper -->
                    <div v-if="token" class="transition hover:bg-indigo-50">
                        <!-- header -->
                        <div class="accordion-header questionHide cursor-pointer transition flex space-x-5 px-5 items-center h-16">
                            <i class="fas fa-plus"></i>
                            <h3>Bạn muốn đặt câu hỏi</h3>
                        </div>
                        <!-- Content -->
                        <div class="accordion-content px-5 pt-0 overflow-hidden max-h-0">
                            <div class="pb-5">
                                <input placeholder="Tiêu đề" v-model="title" class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
                                <span class="text-sm text-red-500 ml-3">{{errorTitle}}</span>
                                <input placeholder="Nội dung" v-model="content" class=" text-black placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200  focus:border-blueGray-500 focus:bg-white dark:focus:bg-gray-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-gray-400">
                                <span class="text-sm text-red-500 ml-3">{{errorContent}}</span>
                            </div>
                            <div class="grid grid-cols-3 gap-4">
                                <div>
                                    <div v-if="!images" class="flex items-center justify-center w-full">
                                        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                                <svg class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>
                                                </svg>
                                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                                            </div>
                                            <input id="dropzone-file" @change='uploadImage' type="file" class="hidden" />
                                        </label>
                                    </div>
                                    <div v-else class="flex ">
                                        <div class="relative w-full h-[16rem] mx-4" v-for="(image, indexImage) in images" :key="indexImage">
                                            <img class="w-full h-full" :src="image" />
                                            <div>
                                                <i @click="hanlderDel(indexImage)" class="fa-solid absolute top-2 right-2 w-[2rem] cursor-pointer hover:bg-red-700 text-center h-[2rem] fa-xmark text-3xl rounded-full text-white bg-red-600"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div v-if="!images1" class="flex items-center justify-center w-full">
                                        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                                <svg class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>
                                                </svg>
                                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                                            </div>
                                            <input id="dropzone-file" @change='uploadImage1' type="file" class="hidden" />
                                        </label>
                                    </div>
                                    <div v-else class="flex ">
                                        <div class="relative w-full h-[16rem] mx-4" v-for="(image, indexImage) in images1" :key="indexImage">
                                            <img class="w-full h-full" :src="image" />
                                            <div>
                                                <i @click="hanlderDel1(indexImage)" class="fa-solid absolute top-2 right-2 w-[2rem] cursor-pointer hover:bg-red-700 text-center h-[2rem] fa-xmark text-3xl rounded-full text-white bg-red-600"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div v-if="!images2" class="flex items-center justify-center w-full">
                                        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                                <svg class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>
                                                </svg>
                                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                                            </div>
                                            <input id="dropzone-file" @change='uploadImage2' type="file" class="hidden" />
                                        </label>
                                    </div>
                                    <div v-else class="flex ">
                                        <div class="relative w-full h-[16rem] mx-4" v-for="(image, indexImage) in images2" :key="indexImage">
                                            <img class="w-full h-full" :src="image" />
                                            <div>
                                                <i @click="hanlderDel2(indexImage)" class="fa-solid absolute top-2 right-2 w-[2rem] cursor-pointer hover:bg-red-700 text-center h-[2rem] fa-xmark text-3xl rounded-full text-white bg-red-600"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex justify-between">
                                <button v-if="show" @click="handlerSubmit" class="rounded-full bg-gray-600 hover:bg-gray-800 text-white font-medium font-lg px-6 py-2 my-5 ml-9">Gửi câu hỏi</button>
                                <button v-else disabled type="button" class="rounded-full bg-gray-600 hover:bg-gray-800 text-white font-medium font-lg px-6 py-2 my-5 ml-9 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
                                    <svg role="status" class="inline w-4 h-4 mr-2 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2" />
                                    </svg>
                                    Loading...
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- What is term -->
                    <div class="transition hover:bg-indigo-50">
                        <!-- header -->
                        <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-16">
                            <i class="fas fa-plus"></i>
                            <h3>Tiki là gì?</h3>
                        </div>
                        <!-- Content -->
                        <div class="accordion-content px-5 pt-0 overflow-hidden max-h-0">
                            <p class="leading-6 font-light pl-9 text-justify">
                                Our asked sex point her she seems. New plenty she horses parish design you. Stuff sight equal of my woody. Him children bringing goodness suitable she entirely put
                                far daughter.
                            </p>
                            <button class="rounded-full bg-indigo-600 text-white font-medium font-lg px-6 py-2 my-5 ml-9">Learn more</button>
                        </div>
                    </div>

                    <!-- When to use Accordion Components -->
                    <div class="transition hover:bg-indigo-50">
                        <!-- header -->
                        <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-16">
                            <i class="fas fa-plus"></i>
                            <h3>Câu hỏi?</h3>
                        </div>
                        <!-- Content -->
                        <div class="accordion-content px-5 pt-0 overflow-hidden max-h-0">
                            <p class="leading-6 font-light pl-9 text-justify">
                                Our asked sex point her she seems. New plenty she horses parish design you. Stuff sight equal of my woody. Him children bringing goodness suitable she entirely put
                                far daughter.
                            </p>
                            <button class="rounded-full bg-indigo-600 text-white font-medium font-lg px-6 py-2 my-5 ml-9">Learn more</button>
                        </div>
                    </div>

                    <!-- Accordion Wrapper -->
                    <div class="transition hover:bg-indigo-50">
                        <!-- header -->
                        <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-16">
                            <i class="fas fa-plus"></i>
                            <h3>Câu hỏi?</h3>
                        </div>
                        <!-- Content -->
                        <div class="accordion-content px-5 pt-0 overflow-hidden max-h-0">
                            <p class="leading-6 font-light pl-9 text-justify">
                                Our asked sex point her she seems. New plenty she horses parish design you. Stuff sight equal of my woody. Him children bringing goodness suitable she entirely put
                                far daughter.
                            </p>
                            <button class="rounded-full bg-indigo-600 text-white font-medium font-lg px-6 py-2 my-5 ml-9">Learn more</button>
                        </div>
                    </div>

                    <!-- Accordion Wrapper -->
                    <div class="transition hover:bg-indigo-50">
                        <!-- header -->
                        <div class="accordion-header cursor-pointer transition flex space-x-5 px-5 items-center h-16">
                            <i class="fas fa-plus"></i>
                            <h3>Câu hỏi?</h3>
                        </div>
                        <!-- Content -->
                        <div class="accordion-content px-5 pt-0 overflow-hidden max-h-0">
                            <p class="leading-6 font-light pl-9 text-justify">
                                Our asked sex point her she seems. New plenty she horses parish design you. Stuff sight equal of my woody. Him children bringing goodness suitable she entirely put
                                far daughter.
                            </p>
                            <button class="rounded-full bg-indigo-600 text-white font-medium font-lg px-6 py-2 my-5 ml-9">Learn more</button>
                        </div>
                    </div> 
                    <button @click="test">test</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import {
    userServices
} from "@/services/userServices"
const formData = new FormData();
import {
    mapState,
    mapGetters,
    mapMutations,
    mapActions
} from 'vuex'

export default {
    name: "Portal",
    data() {
        return {
            imagesArray: null,
            imagesArray1: null,
            imagesArray2: null,
            images: null,
            images1: null,
            images2: null,
            token: true,
            content: '',
            title: '',
            user: {
                id: localStorage.getItem('id') || sessionStorage.getItem('id')
            },
            errorTitle: '',
            errorContent: '',
            show: true
        }
    },
    methods: {
        hanlderDel(id) {
            this.images.splice(id, 1)
            this.images = null
        },
        hanlderDel1(id) {
            this.images1.splice(id, 1)
            this.images1 = null
        },
        hanlderDel2(id) {
            this.images2.splice(id, 1)
            this.images2 = null
        },
        handlerQuestion() {
            const accordionHeader = document.querySelectorAll(".accordion-header");
            accordionHeader.forEach((header) => {
                header.addEventListener("click", function () {
                    const accordionContent = header.parentElement.querySelector(".accordion-content");
                    let accordionMaxHeight = accordionContent.style.maxHeight;
                    const button = document.querySelector('.hide')
                    // Condition handling
                    if (accordionMaxHeight == "0px" || accordionMaxHeight.length == 0) {
                        accordionContent.style.maxHeight = `${accordionContent.scrollHeight + 12}rem`;
                        header.querySelector(".fas").classList.remove("fa-plus");
                        header.querySelector(".fas").classList.add("fa-minus");
                        header.parentElement.classList.add("bg-indigo-50");
                    } else {
                        accordionContent.style.maxHeight = `0px`;
                        header.querySelector(".fas").classList.add("fa-plus");
                        header.querySelector(".fas").classList.remove("fa-minus");
                        header.parentElement.classList.remove("bg-indigo-50");
                    }
                    button.addEventListener("click", () => {
                        const question = document.querySelector('questionHide')
                        question.style.maxHeight = `0px`;
                    })
                });
            });

        },
        test() {
            console.log(this.images)
        },
        async uploadImage(e) {
            try {
                const fileArray = Array.from(e.target.files).map((file) => URL.createObjectURL(file))
                this.images = fileArray
                this.imagesArray = e.target.files
                for (const i of Object.keys(this.imagesArray)) {
                    formData.append(`image${parseInt(i)+1}`, this.imagesArray[i])
                }
            } catch (e) {
                alert(e)
            }
        },
        async uploadImage1(e) {
            try {
                const fileArray = Array.from(e.target.files).map((file) => URL.createObjectURL(file))
                this.images1 = fileArray
                this.imagesArray1 = e.target.files
                for (const i of Object.keys(this.imagesArray1)) {
                    formData.append(`image${parseInt(i)+1}`, this.imagesArray1[i])
                }
            } catch (e) {
                alert(e)
            }
        },
        async uploadImage2(e) {
            try {
                const fileArray = Array.from(e.target.files).map((file) => URL.createObjectURL(file))
                this.images2 = fileArray
                this.imagesArray2 = e.target.files
                for (const i of Object.keys(this.imagesArray2)) {
                    formData.append(`image${parseInt(i)+1}`, this.imagesArray2[i])
                }
            } catch (e) {
                alert(e)
            }
        },
        validateForm() {
            if (this.title.length === 0 && this.content.length === 0) {
                this.errorTitle = '* Vui lòng nhập tiêu đề'
                this.errorContent = '* Vui lòng nhập nội dung'
                return true
            } else if (this.title.length === 0 && this.content.length > 0) {
                this.errorTitle = '* Vui lòng nhập tiêu đề'
                this.errorContent = ''
                return true
            } else if (this.title.length > 0 && this.content.length === 0) {
                this.errorTitle = ''
                this.errorContent = '* Vui lòng nhập nội dung'
                return true
            } else {
                this.errorTitle = ''
                this.errorContent = ''
            }
            return false
        },
        async handlerSubmit() {
            try {
                if (this.validateForm()) {
                    return
                }
                this.show = false
                formData.append(`title`, this.title)
                formData.append(`content`, this.content)
                formData.append(`userId`, this.user.id)
                await this.uploadImage
                await userServices.submitQuestionUser(formData)
                console.log(formData)
                this.show = true
                this.$toast.success("Gửi thành công", {
                    position: "top-center",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: true,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false
                });
                this.title = ''
                this.content = ''
                this.imagesArray = null
                this.images = null
                formData.delete('title');
                formData.delete('userId');
                formData.delete('content');
                return
            } catch (e) {
                console.log(e)
                this.show = true
                this.$toast.error("Gửi thất bại", {
                    position: "top-center",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: true,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false
                });
                return
            }

        }
    },
    mounted() {
        this.handlerQuestion();
    },
    computed: {}
}
</script>

<style scoped>
.accordion-content {
    transition: max-height 0.3s ease-out, padding 0.3s ease;
}
</style>
