<template>
<div>
    <header class="bg-[#38bdf8] border-b-2 border-[#ccc]">
        <nav class="border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
            <div class="container mx-auto flex flex-wrap justify-between items-center ">
                <div class="flex items-end">
                    <div class="flex items-center w-20 overflow-hidden">
                        <img class="w-full h-full object-cover" :src="require('../assets/Logo_Tiki.png')" />
                    </div>
                    <div class="ml-4 flex">
                        <router-link to="/login">
                            <p class="text-xl ml-2 text-white  hover:border-b-2 hover:bg-red">Đăng nhập</p>
                        </router-link>
                        <router-link to="/signup">
                            <p class="text-xl ml-4 text-white hover:border-b-2 hover:bg-red">Đăng kí</p>
                        </router-link>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mx-auto h-full">
        <h3 class="text-center text-xl font-bold my-20">CHÍNH SÁCH BẢO MẬT</h3>
        <p class="font-semibold mb-4">
            1.         GIỚI THIỆU
        </p>
        <p class="mb-4"><span class="mr-10 ">1.1 </span>      Chào mừng bạn đến với sàn giao dịch thương mại điện tử Shopee qua giao diện website hoặc ứng dụng di động (“Trang Shopee”). Trước khi sử dụng Trang Shopee hoặc tạo tài khoản Shopee (“Tài Khoản”), vui lòng đọc kỹ các Điều Khoản Dịch Vụ dưới đây và Quy Chế Hoạt Động Sàn Giao Dịch Thương Mại Điện Tử Shopee để hiểu rõ quyền lợi và nghĩa vụ hợp pháp của mình đối với Công ty TNHH Shopee và các công ty liên kết và công ty con của Shopee (sau đây được gọi riêng là “Shopee”, gọi chung là “chúng tôi”, “của chúng tôi”). “Dịch Vụ” chúng tôi cung cấp hoặc sẵn có bao gồm (a) Trang Shopee, (b) các dịch vụ được cung cấp bởi Trang Shopee và bởi phần mềm dành cho khách hàng của Shopee có sẵn trên Trang Shopee, và (c) tất cả các thông tin, đường dẫn, tính năng, dữ liệu, văn bản, hình ảnh, biểu đồ, âm nhạc, âm thanh, video (bao gồm cả các đoạn video được đăng tải trực tiếp theo thời gian thực (livestream)), tin nhắn, tags, nội dung, chương trình, phần mềm, ứng dụng dịch vụ (bao gồm bất kỳ ứng dụng dịch vụ di động nào) hoặc các tài liệu khác có sẵn trên Trang Shopee hoặc các dịch vụ liên quan đến Trang Shopee (“Nội Dung”). Bất kỳ tính năng mới nào được bổ sung hoặc mở rộng đối với Dịch Vụ đều thuộc phạm vi điều chỉnh của Điều Khoản Dịch Vụ này. Điều Khoản Dịch Vụ này điều chỉnh việc bạn sử dụng Dịch Vụ cung cấp bởi Shopee.</p>
        <p class="mb-4"><span class="mr-10 ">1.2</span>        Dịch Vụ bao gồm dịch vụ sàn giao dịch trực tuyến kết nối người tiêu dùng với nhau nhằm mang đến cơ hội kinh doanh giữa người mua (“Người Mua”) và người bán (“Người Bán”) (gọi chung là “bạn”, “Người Sử Dụng” hoặc “Các Bên”). Hợp đồng mua bán thật sự là trực tiếp giữa Người Mua và Người Bán. Các Bên liên quan đến giao dịch đó sẽ chịu trách nhiệm đối với hợp đồng mua bán giữa họ, việc đăng bán hàng hóa, bảo hành sản phẩm và tương tự. Shopee không can thiệp vào giao dịch giữa các Người Sử Dụng. Shopee có thể hoặc không sàng lọc trước Người Sử Dụng hoặc Nội Dung hoặc thông tin cung cấp bởi Người Sử Dụng. Shopee bảo lưu quyền loại bỏ bất cứ Nội Dung hoặc thông tin nào trên Trang Shopee theo Mục 6.4 bên dưới. Shopee không bảo đảm cho việc các Người Sử Dụng sẽ thực tế hoàn thành giao dịch. Lưu ý, Shopee sẽ là bên trung gian quản lý tình trạng hàng hóa và mua bán giữa Người Mua và Người Bán và quản lý vấn đề chuyển phát, trừ khi Người Mua và Người Bán thể hiện mong muốn tự giao dịch với nhau một cách rõ ràng.</p>
        <p class="mb-4"><span class="mr-10 ">1.3 </span>      Trước khi trở thành Người Sử Dụng của Trang Shopee, bạn cần đọc và chấp nhận mọi điều khoản và điều kiện được quy định trong, và dẫn chiếu đến, Điều Khoản Dịch Vụ này và Chính Sách Bảo Mật được dẫn chiếu theo đây.</p>
        <p class="mb-4"><span class="mr-10 ">1.4 </span>      Shopee bảo lưu quyền thay đổi, chỉnh sửa, tạm ngưng hoặc chấm dứt tất cả hoặc bất kỳ phần nào của Trang Shopee hoặc Dịch Vụ vào bất cứ thời điểm nào theo quy định pháp luật. Phiên Bản thử nghiệm của Dịch Vụ hoặc tính năng của Dịch Vụ có thể không hoàn toàn giống với phiên bản cuối cùng.    </p>
        <p class="mb-4"><span class="mr-10 ">1.5 </span>      Shopee bảo lưu quyền từ chối yêu cầu mở Tài Khoản hoặc các truy cập của bạn tới Trang Shopee hoặc Dịch Vụ theo quy định pháp luật và Điều khoản dịch vụ.
        <span class="block mt-4">BẰNG VIỆC SỬ DỤNG DỊCH VỤ HAY TẠO TÀI KHOẢN TẠI SHOPEE, BẠN ĐÃ CHẤP NHẬN VÀ ĐỒNG Ý VỚI NHỮNG ĐIỀU KHOẢN DỊCH VỤ NÀY VÀ CHÍNH SÁCH BỔ SUNG ĐƯỢC DẪN CHIẾU THEO ĐÂY.

NẾU BẠN KHÔNG ĐỒNG Ý VỚI NHỮNG ĐIỀU KHOẢN DỊCH VỤ NÀY, VUI LÒNG KHÔNG SỬ DỤNG DỊCH VỤ HOẶC TRUY CẬP VÀO TRANG SHOPEE. NẾU BẠN LÀ NGƯỜI CHƯA THÀNH NIÊN HOẶC BỊ GIỚI HẠN VỀ NĂNG LỰC HÀNH VI DÂN SỰ THEO QUY ĐỊNH PHÁP LUẬT TẠI QUỐC GIA BẠN SINH SỐNG, BẠN CẦN NHẬN ĐƯỢC SỰ HỖ TRỢ HOẶC CHẤP THUẬN TỪ CHA MẸ HOẶC NGƯỜI GIÁM HỘ HỢP PHÁP, TÙY TỪNG TRƯỜNG HỢP ÁP DỤNG, ĐỂ MỞ TÀI KHOẢN HOẶC SỬ DỤNG DỊCH VỤ. TRONG TRƯỜNG HỢP ĐÓ, CHA MẸ HOẶC NGƯỜI GIÁM HỘ HỢP PHÁP, TÙY TỪNG TRƯỜNG HỢP ÁP DỤNG, CẦN HỖ TRỢ ĐỂ BẠN HIỂU RÕ HOẶC THAY MẶT BẠN CHẤP NHẬN NHỮNG ĐIỀU KHOẢN TRONG THỎA THUẬN DỊCH VỤ NÀY. NẾU BẠN CHƯA CHẮC CHẮN VỀ ĐỘ TUỔI CŨNG NHƯ NĂNG LỰC HÀNH VI DÂN SỰ CỦA MÌNH, HOẶC CHƯA HIỂU RÕ CÁC ĐIỀU KHOẢN NÀY CŨNG NHƯ QUY ĐỊNH PHÁP LUẬT CÓ LIÊN QUAN ÁP DỤNG CHO ĐỘ TUỔI HOẶC NĂNG LỰC HÀNH VI DÂN SỰ CỦA MÌNH, VUI LÒNG KHÔNG TẠO TÀI KHOẢN HOẶC SỬ DỤNG DỊCH VỤ CHO ĐẾN KHI NHẬN ĐƯỢC SỰ GIÚP ĐỠ TỪ CHA MẸ HOẶC NGƯỜI GIÁM HỘ HỢP PHÁP. NẾU BẠN LÀ CHA MẸ HOẶC NGƯỜI GIÁM HỘ HỢP PHÁP CỦA NGƯỜI CHƯA THÀNH NIÊN HOẶC BỊ GIỚI HẠN VỀ NĂNG LỰC HÀNH VI DÂN SỰ, TÙY TỪNG TRƯỜNG HỢP THEO QUY ĐỊNH PHÁP LUẬT, BẠN CẦN HỖ TRỢ ĐỂ NGƯỜI ĐƯỢC GIÁM HỘ HIỂU RÕ HOẶC ĐẠI DIỆN NGƯỜI ĐƯỢC GIÁM HỘ CHẤP NHẬN CÁC ĐIỀU KHOẢN DỊCH VỤ NÀY VÀ CHỊU TRÁCH NHIỆM ĐỐI VỚI TOÀN BỘ QUÁ TRÌNH SỬ DỤNG TÀI KHOẢN HOẶC CÁC DỊCH VỤ CỦA SHOPEE  MÀ KHÔNG PHÂN BIỆT TÀI KHOẢN ĐÃ  HOẶC SẼ ĐƯỢC TẠO LẬP.</span>
        </p>
        <p>TÔI ĐÃ ĐỌC CÁC ĐIỀU KHOẢN DỊCH VỤ NÀY VÀ ĐỒNG Ý VỚI TẤT CẢ CÁC ĐIỀU KHOẢN NHƯ TRÊN CŨNG NHƯ BẤT KỲ ĐIỀU KHOẢN NÀO ĐƯỢC CHỈNH SỬA SAU NÀY.  BẰNG CÁCH BẤM NÚT “ĐĂNG KÝ” HOẶC “ĐĂNG KÝ QUA FACEBOOK” KHI ĐĂNG KÝ SỬ DỤNG TRANG SHOPEE, TÔI HIỂU RẰNG TÔI ĐANG TẠO CHỮ KÝ ĐIỆN TỬ MÀ TÔI HIỂU RẰNG NÓ CÓ GIÁ TRỊ VÀ HIỆU LỰC TƯƠNG TỰ NHƯ CHỮ KÝ TÔI KÝ BẰNG TAY.</p>
    </div>
</div>
</template>

<script>
export default {
  name: "TermOfService",

}
</script>

<style scoped>

</style>