<template>
<div>
    <header class="bg-[#38bdf8] ">
        <nav class="border-gray-200 container mx-auto px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
            <div class="flex flex-wrap justify-between items-center ">
                <div class="flex items-end">
                    <div class="flex items-center w-20 overflow-hidden">
                        <img class="w-full h-full object-cover" :src="require('../assets/Logo_Tiki.png')" />
                    </div>
                    <p class="text-4xl ml-2 text-white">Đặt lại mật khẩu</p>
                </div>
                <a href="#" class="text-white">Bạn cần giúp đỡ?</a>
            </div>
        </nav>
    </header>
    <div class="my-20 h-[32rem] flex justify-center items-center">
        <div class="w-[24rem]  bg-gray-100 float-right">
            <div class="flex flex-col overflow-hidden bg-white rounded-md shadow-lg max md:flex-row md:flex-1 ">
                <div class="p-5 bg-white md:flex-1">
                    <h3 class="my-4 text-2xl font-semibold text-gray-700 text-center">Đặt lại mật khẩu</h3>
                    <form @submit.prevent="handlerReset" class="flex flex-col space-y-5">
                        <div class="flex flex-col space-y-1">
                            <input placeholder="Mật khẩu" v-model="password" type="password" id="password" autofocus class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200" />
                            <div class="flex ml-4" v-if="validatePass">
                                <svg viewBox="0 0 24 24" class="text-red-600 h-5 sm:w-5 w-full sm:h-5 mr-3">
                                    <path fill="currentColor" d="M11.983,0a12.206,12.206,0,0,0-8.51,3.653A11.8,11.8,0,0,0,0,12.207,11.779,11.779,0,0,0,11.8,24h.214A12.111,12.111,0,0,0,24,11.791h0A11.766,11.766,0,0,0,11.983,0ZM10.5,16.542a1.476,1.476,0,0,1,1.449-1.53h.027a1.527,1.527,0,0,1,1.523,1.47,1.475,1.475,0,0,1-1.449,1.53h-.027A1.529,1.529,0,0,1,10.5,16.542ZM11,12.5v-6a1,1,0,0,1,2,0v6a1,1,0,1,1-2,0Z"></path>
                                </svg>
                                <span class="text-red-800 text-sm">{{validatePass}} </span>
                            </div>
                        </div>
                        <div class="flex flex-col space-y-1">
                            <input placeholder="Nhập lại mật khẩu" v-model="password2" type="password" id="password2" autofocus class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200" />
                        </div>
                        <div>
                            <button type="submit" class="w-full px-4 py-2 text-lg font-semibold text-white transition-colors duration-300 bg-blue-500 rounded-md shadow hover:bg-blue-600 focus:outline-none focus:ring-blue-200 focus:ring-4">
                                Tiếp theo
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</template>

<script>
import {
    loginServices
} from '@/services/loginServices'
export default {
    name: 'SignUp',
    data() {
        return {
            email: '',
            password: '',
            password2: '',
            name: '',
            token: this.$route.query.token,
            validatePass: ''
        }
    },
    methods: {
        validatePassMethod() {
            if (this.password == '') {
                this.validatePass = 'Mật khẩu không để được để trống'
                return true
            } else if (!(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$/.test(this.password))) {
                this.validatePass = 'Mật khẩu cần một chữ cái in hoa, có số và trên 8 kí tự'
                return true
            } else if (this.password !== this.password2) {
                this.validatePass = 'Mật khẩu không trùng nhau'
                return true
            }
            this.validatePass = ''
            return false
        },
        async handlerReset() {
            try {
                if (this.validatePassMethod()) {
                    return
                }
                let formData = new FormData();
                formData.append('password', this.password)
                formData.append('token', this.token)
                await loginServices.ResetPassword(formData)
                this.$toast.success("Đặt lại mật khẩu thành công", {
                    position: "top-center",
                    timeout: 5000,
                    closeOnClick: true,
                    pauseOnFocusLoss: true,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false
                });
                this.$router.push({ path: '/login'  })
                return
            } catch (e) {
                this.$toast.error("Đặt lại mật khẩu thất bại", {
                    position: "top-center",
                    timeout: 5000,
                    closeOnClick: true,
                    pauseOnFocusLoss: true,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false
                });
                console.log(e)
                return
            }
        },
    },

}
</script>

<style>

</style>
