<template>
<div class="h-full">
    <header class="bg-[#38bdf8] ">
        <nav class="border-gray-200 container mx-auto px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
            <div class="flex flex-wrap justify-between items-center ">
                <div class="flex items-end">
                    <div class="flex items-center w-20 overflow-hidden">
                        <router-link to="/">
                            <img class="w-full h-full object-cover" :src="require('../assets/Logo_Tiki.png')" />
                        </router-link>
                    </div>
                    <p class="text-4xl ml-2 text-white">Đặt lại mật khẩu</p>
                </div>
                <router-link to="/Portal">
                    <a href="#" class="text-white">Bạn cần giúp đỡ?</a>
                </router-link>
            </div>
        </nav>
    </header>
    <div class="my-20 h-[32rem] flex justify-center items-center">
        <div class="w-[24rem] bg-gray-100 float-right">
            <div class="flex  flex-col overflow-hidden bg-white rounded-md shadow-lg max md:flex-row md:flex-1 ">
                <div class="p-5 bg-white md:flex-1">
                    <div>
                        <router-link to="login">
                            <i class="fa-solid fa-arrow-left-long text-xl float-left cursor-pointer"></i>
                        </router-link>
                        <h3 class="my-4 text-2xl font-semibold text-gray-700 text-center">Đặt lại mật khẩu</h3>
                    </div>
                    <form @submit.prevent="handlerReset" class="flex flex-col space-y-5">
                        <div class="flex flex-col space-y-1">
                            <input placeholder="Email" v-model="email" type="email" id="email" autofocus class="px-4 py-2 transition duration-300 border border-gray-300 rounded focus:border-transparent focus:outline-none focus:ring-4 focus:ring-blue-200" />
                        </div>
                        <div>
                            <button v-if="loading" type="submit" class="w-full px-4 py-2 text-lg font-semibold text-white transition-colors duration-300 bg-blue-500 rounded-md shadow hover:bg-blue-600 focus:outline-none focus:ring-blue-200 focus:ring-4">
                                Tiếp theo
                            </button>
                            <button v-else disabled type="button" class="text-white px-4 py-2 text-lg w-full bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg  text-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
                                <svg role="status" class="inline w-4 h-4 mr-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB" />
                                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor" />
                                </svg>
                                Loading...
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</template>

<script>
import {
    loginServices
} from '@/services/loginServices'
export default {
    name: 'SignUp',
    data() {
        return {
            email: '',
            password: '',
            password2: '',
            name: '',
            loading: true
        }
    },
    methods: {
        validatePassMethod() {
            if (this.password == '') {
                this.validatePass = 'Mật khẩu không để được để trống'
                return true
            } else if (!(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$/.test(this.password))) {
                this.validatePass = 'Mật khẩu cần một chữ cái in hoa, có số và trên 8 kí tự'
                return true
            } else if (this.password !== this.password2) {
                this.validatePass = 'Mật khẩu không trùng nhau'
                return true
            }
            this.validatePass = ''
            return false
        },
        async handlerReset() {
            try {

                let formData = new FormData();
                formData.append('email', this.email)
                await loginServices.sendEmailResetPassWord(formData)
                this.loading = true
                this.$toast.success("Gửi thành công", {
                    position: "top-center",
                    timeout: 5000,
                    closeOnClick: true,
                    pauseOnFocusLoss: true,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false
                });
            } catch (e) {
                this.loading = true
                this.$toast.error("Gửi thất bại", {
                    position: "top-center",
                    timeout: 5000,
                    closeOnClick: true,
                    pauseOnFocusLoss: true,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false
                });
                console.log(e)
                return
            }
        },

    },
}
</script>

<style>

</style>
