<template>
<div>
  <Header></Header>
  
</div>
</template>

<script>
import Header from '../components/Header.vue'
export default {
  name: "ControlCounter",
  components: {
        Header,
    },
}
</script>

<style scoped>

</style>