<template>
<div>
    <header class="bg-[#38bdf8]">
        <nav class="border-gray-200 container mx-auto px-2 sm:px-4 py-4 rounded dark:bg-gray-800">
            <div class="flex flex-wrap justify-between items-center ">
                <div class="flex items-end">
                    <div class="flex items-center w-20 overflow-hidden">
                        <router-link to="/">
                            <img class="w-full h-full object-cover" :src="require('../assets/Logo_Tiki.png')" />
                        </router-link>
                    </div>
                </div>
                <router-link to="/Portal">
                    <a href="#" class="text-white">Bạn cần giúp đỡ?</a>
                </router-link>
            </div>
        </nav>
    </header>
    <div class="my-20 h-[32rem] flex justify-center items-center p-10">
        <div class="w-[40rem] bg-gray-100 float-right">
            <div class="flex  flex-col overflow-hidden bg-white rounded-md shadow-lg max md:flex-row md:flex-1 ">
                <div class="p-5 bg-white flex items-center justify-center flex-col md:flex-1">
                    <div class="flex items-center justify-center flex-col">
                        <h3 class="my-4 text-2xl font-semibold text-gray-700 text-center">Bạn đã đăng kí thành công. </h3>
                        <i class="fa-regular fa-envelope text-[5rem]"></i>
                        <p>Cảm ơn bạn đã đăng kí, vui lòng xác thực tài khoản tại email của bạn.</p>
                    </div>
                    <div class="mt-5">
                        <router-link to="/login">
                            <button type="submit" class="w-full px-4 py-2 text-lg font-semibold text-white transition-colors duration-300 bg-blue-500 rounded-md shadow hover:bg-blue-600 focus:outline-none focus:ring-blue-200 focus:ring-4">
                                Quay về trang chủ.
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: "verifyEmail",

}
</script>

<style scoped>

</style>
