<template>
<div class="h-full">
    <header class="bg-[#38bdf8] ">
        <nav class="border-gray-200 container mx-auto px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
            <div class="flex flex-wrap justify-between items-center ">
                <div class="flex items-end">
                    <div class="flex items-center w-20 overflow-hidden">
                        <router-link to="/">
                            <img class="w-full h-full object-cover" :src="require('../assets/Logo_Tiki.png')" />
                        </router-link>
                    </div>
                </div>
                <a href="#" class="text-white">Bạn cần giúp đỡ?</a>
            </div>
        </nav>
    </header>
    <div class="my-20 h-[32rem] flex justify-center items-center">
        <div class="w-[24rem] bg-gray-100 float-right">
            <div class="flex  flex-col overflow-hidden bg-white rounded-md shadow-lg max md:flex-row md:flex-1 ">
                <div class="p-5 bg-white md:flex-1">
                    <div>
                        <h3 class="my-4 text-2xl font-semibold text-gray-700 text-center">Xác thực thành công</h3>
                    </div>

                    <div>
                        <router-link to="/login">
                            <button type="submit" class="w-full px-4 py-2 text-lg font-semibold text-white transition-colors duration-300 bg-blue-500 rounded-md shadow hover:bg-blue-600 focus:outline-none focus:ring-blue-200 focus:ring-4">
                                Quay về trang đăng nhập
                            </button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</template>

<script>
export default {
    name: 'SignUp',

}
</script>

<style>

</style>
