<template>
<div>
    {{a}}
    <button @click="test">Test</button>
    <h1>Hhihihihihi</h1>
</div>
</template>

<script>
import {
    mapState,
    mapMutations
} from 'vuex'
export default {
    name: "DisplayCounter",
    data() {
        return {

        }
    },
    computed: {
        ...mapState('home', {
            a: state => state.conut,
        }),
    },
    methods: {
        test() {
            this.increment()
            console.log(this.a)
        },
        ...mapMutations('home', [
            'increment', // -> this.someGetter
        ])
    },
}
</script>

<style scoped>

</style>
