<template>
<header class="bg-[#38bdf8] ">
    <nav class="border-gray-200 container mx-auto flex justify-between px-2 sm:px-4 rounded dark:bg-gray-800">
        <div>
            <ul class="flex text-white justify-evenly items-center my-2 items-center">
                <li class="border-r pr-2  border-[#94a3b8]">Kênh người bán</li>
                <li class="ml-3 border-[#94a3b8] pr-2 border-r">Trở thành người bán</li>
                <li class="ml-3 border-[#94a3b8] border-r pr-2">Tải ứng dụng</li>
                <li class="ml-3 border-[#94a3b8]">Kết nối <i class="ml-1 fa-brands fa-facebook"></i> <i class="fa-brands fa-instagram"></i></li>
            </ul>
        </div>

        <div class="navbar__spacer">
            
        </div>
        <div class="navbar__links">
            <ul class="flex items-center text-white my-2 ">
                <li class="tooltip-light ">
                    <router-link to="/notify">
                        <i class="fa-solid fa-bell inline"></i><p class="inline ml-1">Thông báo</p> 
                    </router-link>
                </li>
                <li class="ml-3 ">
                    <router-link to="/portal">
                        <i class="fa-solid fa-circle-question inline"></i><p class="inline ml-1">Hỗ trợ</p> 
                    </router-link>
                </li>
                  <li class="ml-3 ">
                    <router-link to="/categoryQuestion">
                        <i class="fa-solid fa-circle-question inline"></i><p class="inline ml-1">Câu hỏi thường gặp</p> 
                    </router-link>
                </li>
                <div v-if="!checkLogin" class="flex">
                    <router-link to="/login">
                        <li class="ml-3 border-[#94a3b8] border-r pr-2">Đăng nhập</li>
                    </router-link>
                    <router-link to="/signup">
                        <li class="mx-3">Đăng kí</li>
                    </router-link>
                </div>
                <div v-else>
                    <div class="dropdown transition duration-150 ease-in-out inline-block relative ml-3 border-[#94a3b8] px-2 border-l">
                        <button class=" text-white  rounded inline-flex items-center">
                            <span class="mr-1">User</span>
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /> </svg>
                        </button>
                        <ul class="transition-drop-down  dropdown-menu absolute rounded hidden  pt-1 w-[6rem] right-0">
                            <li class=""><button class="bg-white w-full text-sm py-2 px-4 block text-black hover:bg-gray-200 hover:text-[#4ade80]  whitespace-no-wrap" href="#">Tài khoản</button></li>
                            <li class=""><button @click="handlerLogOut" class="bg-white text-sm w-full text-black hover:bg-gray-200 hover:text-[#4ade80] py-2 px-4 block whitespace-no-wrap" href="#">Đăng xuất</button></li>
                        </ul>
                    </div>
                    <div>
                        
                    </div>
                </div>
            </ul>
        </div>
    </nav>
    <div class="py-5 container mx-auto flex items-center  w-full">
        <div class="flex">
            <div class="flex items-center w-[8rem] overflow-hidden">
                <router-link to="/">
                    <img class="w-full h-full " :src="require('../assets/Logo_Tiki.png')" />
                </router-link>
            </div>
            <div class="ml-10 ">
                <div class="relative">
                    <input class="w-[54rem]  disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
      invalid:border-black invalid:text-black
      focus:invalid:border-black focus:invalid:ring-black p-4 rounded " placeholder="MUM'S CLUB 3 TUỔI TẶNG XE MÁY" />
                    <div>
                        <i class="fa-solid absolute fa-magnifying-glass text-white text-xl bg-[#38bdf8] py-2 px-8 rounded top-[0.4rem] right-4"></i>
                    </div>
                </div>
                <ul class="flex text-white mt-2 items-center">
                    <li>Váy</li>
                    <li class="ml-3">Dép</li>
                    <li class="ml-3">Áo phông</li>
                    <li class="ml-3">Áo crotop</li>
                    <li class="ml-3">Túi xách nữ</li>
                    <li class="ml-3">Túi đeo chéo</li>
                    <li class="ml-3">Áo thun</li>
                </ul>
            </div>
        </div>
        <div class="flex items-center ml-[4rem]">
            <i class="fa-solid fa-cart-shopping text-3xl text-white"></i>
        </div>
    </div>
</header>
</template>

<script>
import 'tw-elements';
export default {
    name: "Header",
    data() {
        return {
            checkLogin: sessionStorage.getItem('token') || localStorage.getItem('token')
        }
    },
    methods: {
        handlerLogOut() {
            localStorage.clear('token')
            sessionStorage.clear('token')
            location.reload(true)
        }
    },
    mounted() {
        console.log(this.checkLogin)
    },
}
</script>

<style scoped>
.bg-shadow {
    background: rgba(0, 0, 0, 0.53);
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.sub-menu-parent { position: relative; }

.sub-menu { 
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

</style>
